<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>WELCOME</title>
<script language="javascript" type="text/javascript" src="dashboard_student-validation.js"></script>
</head>

<body>
<img src="C:\Users\RedME\Downloads\FELIGHT.JPG" height="200px" widhth="300px">

  <form name="Take Test on subbmit" onSubmit="return formValidation();">
<table align="center" bgcolor="seagreen">
<h1 align="center">WELCOME</h1>
  <p class="paragraph">

<tr>
<td>UserId</td>
<td><input type="text" name="user" placeholder="user name" size="79"/></td>
</tr>

<td>&nbsp;</td>

<tr>
<td>Email</td>
<td><input type="text" name="Email" placeholder="Email Address" size="79"/></td>
</tr>

<td>&nbsp;</td>


<tr>
<td>Test</td>
<td><input type="radio" name="test" value="Take Test">Take Test<input type="radio" name="test" value="Previous Test"/>Previous Test</td>
</tr>

<td>&nbsp;</td>
<tr>
<td>Remarks</td>
<td><input type="text" name="Remarks"size="79"/></td>
</tr>



<tr>
<td>&nbsp;</td>
<td align="center"><input type="submit" name="button" value="Submit">&nbsp;<input type="button" value="logout"></td>
</tr>




</table>
</form>
		</p>
</body>
</html>
