<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>WELCOME ADMIN</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='header/header.css') }}">
    <script> 
      $(function(){
        $("#header").load("{{ url_for('static', filename='header/header.html') }}");
      });
    </script> 
  </head>



 <body>

 
		<div class="left-side sticky-left-side">

			<div class="form">
				<h1><a href="#">WELCOME ADMIN <span></span></a></h1>	
			</div>
	<form action="/" method="post">
	 <div id="content">
                Hello <strong>{{name}}</strong> ({{email}})!
            </div>
	 <p class="paragraph">
		<div class="tab-content">
		<table>
			<tr>
			<td>Name :{{name}}</td>
			
			</tr>
			<tr>
			<td>Email :</td>
			<td><output type="text" name="Email" placeholder="Email Address" size="79"/>{{email}}</td>
			</tr>
			
			</table>

		</div>
	</p>
		<table >
			<li class="menu-list">
					<ul class="sub-menu-list">
						<li><a href="#">CREATE TEST</a> </li>
						<li><a href="#">PREVIOUS TEST</a></li>
						<li><a href="#">STUDENTS PROFILE</a></li>
					</ul>
			</li>
						
		</table>
	</form>			
		
</body>
