<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Registration Form</title>
<script language="javascript" type="text/javascript" src="registration-form-validation.js"></script>
</head>

<body>
 
  <form name="registration" onSubmit="return formValidation();">
<table align="center" bgcolor="#0091BE">
<h1 align="center">WEEKLY TEST REGISTRATION</h1>
  <p class="paragraph">

<tr>
<td>FELIGHT ID</td>
<td><input type="text" name="user" placeholder="felight Id" size="69"></td>
</tr>

<td>&nbsp;</td>

<tr>
<td>Password</td>
<td><input type="password" name="password" placeholder="Password" size="69"></td>
</tr>


<tr>
<td>Name</td>
<td><input type="text" name="fname" placeholder="First name"
>&nbsp;&nbsp;<input type="text" name="mname" placeholder="Middle name">&nbsp;&nbsp;<input type="text" name="lname" placeholder="Last name"></td>
</tr>


<tr>
<td>BATCH</td>
<td><select name="select your batch"="multiple">
<option>--select--</option>
<option>batch 1</option>
<option>batch 2</option>
<option>batch 3</option>
<option>batch 4</option>
<option>batch 5</option>

</select></td>
</tr>

<tr>
<td>branch</td>
<td><select name="">
<option>BTM layout</option>
</select></td>
</tr>



<tr>
<td>Phone no</td>
<td><input type="text" name="phone" placeholder="Mobile number" /></td>
<!-- <td><input type="text" name="phone" placeholder="Landline number"/></td> -->
</tr>

<td>&nbsp;</td>

<tr>
<td>Email</td>
<td><input type="type" name="emailid" size="69" placeholder="Enter e-mail"></td>
</tr>

<tr>
<td>&nbsp;</td>
<td align="center"><input type="submit" name="button" value="Register">&nbsp;<input type="button" value="Cancel"></td>
</tr>
</table>
</form>
		</p>
</body>
</html>
