<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>WELCOME TO FELIGHT</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">

    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

       
  </head>

<body>
 <div class="form">
  
<h1 align="center">WELCOME TO FELIGHT ONLINE TEST</h1>
  <p class="paragraph">

  You are not logged in <br><a href = '/login-student'></b>click here to log in as student</b><br><a href = '/login-admin'></b>click here to log in as Admin</b></a>
</p>
</div>

</body>
</html>
